<?xml version='1.0' encoding='utf-8'?>
<widget id="asfm.youtubeparentalcontrolled.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>YouTube - Parental Controlled - ASFM</name>
    <description>
        Only Allow your children to watch videos from channels selected by you. 
    </description>
    <author>
        Shaikh Amaan FM
    </author>
    <content src="index.html" />
    <icon src="www/img/logo.png" /> 
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-notification" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
